.app.dark {
  --ion-background-color: #000 !important;
  --ion-toolbar-background: #000 !important;

  --ion-icon-color: #fff;
  --ion-app-background: #111;
  --ion-background: #B9B6FBFF;

  --ion-item-background: #B9B6FBFF;
  --ion-text-color: #fff;

  --background-checked: #C5FC47 !important;
  --color-checked: #000 !important;
}