.app.light {
  --ion-background-color: #F3F5F4 !important;
  --ion-toolbar-background: #F3F5F4 !important;

  --ion-icon-color: #000;
  --ion-app-background: #F3F5F4;
  --ion-background: #B9B6FBFF;

  --ion-item-background: #B9B6FBFF;
  --ion-text-color: #000;

  --background-checked: #C5FC47 !important;
  --color-checked: #000 !important;
}